.accueil-child {
  position: absolute;
  top: 963px;
  left: 571px;
  border-radius: 50%;
  background: linear-gradient(180deg, #d3c32f, #0a1030);
  width: 220px;
  height: 220px;
  transform: rotate(-28.5deg);
  transform-origin: 0 0;
}
.laurats {
  position: relative;
  font-weight: 900;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login4 {
  position: absolute;
  top: 779px;
  left: 132px;
  border-radius: var(--br-xs);
  background: linear-gradient(90.57deg, #87891a, #0f0e02 53.13%, #756a04);
  width: 234px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.accueil-item {
  position: absolute;
  top: -79px;
  left: -60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #cdbd2e, #0d0a30);
  width: 302px;
  height: 302px;
}
.bienvenue {
  position: absolute;
  top: 197px;
  left: 91px;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accueil-inner {
  top: -3px;
  left: 268px;
  border: 4px solid var(--color-goldenrod);
}
.accueil-inner,
.icon,
.line-div {
  position: absolute;
}
.line-div {
  top: 451px;
  left: 90px;
  border-top: 2px dashed var(--color-goldenrod);
  box-sizing: border-box;
  width: 563px;
  height: 2px;
}
.icon {
  top: 0;
  left: 740px;
  width: 700px;
  height: 1024px;
  object-fit: cover;
}
.alumni4,
.cle-informatique,
.sur {
  position: absolute;
  top: 452px;
  left: 172px;
  font-weight: 600;
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cle-informatique,
.sur {
  top: 321px;
  left: 296px;
}
.cle-informatique {
  top: 621px;
  left: 0;
  font-size: 75px;
}
.alumni5,
.ob-logo-12 {
  position: absolute;
  mix-blend-mode: color-dodge;
}
.ob-logo-12 {
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  width: 146px;
  height: 161px;
  object-fit: cover;
}
.alumni5 {
  top: 123px;
  left: 9px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  background: linear-gradient(
      180deg,
      #faff00,
      #f6fb0b 14.58%,
      rgba(22, 22, 3, 0.86)
    ),
    #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 128px;
  height: 38px;
}
.login5 {
  position: absolute;
  top: 779px;
  left: 410px;
  border-radius: var(--br-xs);
  background: linear-gradient(90.57deg, #87891a, #0f0e02 53.13%, #756a04);
  width: 234px;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-5xl);
}
.accueil-child1 {
  position: absolute;
  top: 20px;
  left: 527px;
  border-radius: var(--br-189xl-5);
  width: 201px;
  height: 60px;
}
.log-out2 {
  position: absolute;
  top: 29px;
  left: 571px;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  display: inline-block;
  width: 145px;
  height: 42px;
  cursor: pointer;
  background-color: #756a04;
}
.accueil {
  position: relative;
  background-color: var(--color-yellow-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
